.card{
    margin:1rem !important; 
    height: 10rem !important;
    /* width: 12rem !important; */
}
.cardContent{
    text-align: center;
    height: 100% !important;
}
.title{
    text-align: center;
    font-size: 1.2rem !important;
}

.icon{
    display: block !important;
    margin: auto !important;
    width: 5rem !important;
    height: auto !important;
    color: rgb(61, 154, 185) !important;
} 