.content{
    display: grid;
    padding: 2rem 0;
    place-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 0.5rem !important;
}

.btn{
    height: fit-content !important;
}