.articleInfo{
    padding: 1rem 3rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saveBtn{
    /* background-color: rgb(21, 146, 21) !important; */
    color: white !important;
    height: fit-content !important;
}
.title{
    font-size: 2rem !important;
    font-weight: 300 !important;
    /* margin: 0 1rem !important;  */
}

.input{
    /* justify-self: center; */
    /* width: 100%; */
    margin: 1rem 1rem 1rem 0 !important;
    flex:1;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.paragraphForm{
    display: flex;
    flex-direction: column;
}

.addBtn{
    width: fit-content !important;
    /* margin: auto !important; */
}
.delete{
    margin-right: 5px !important;
}