.slideShow{
    padding: 1rem;
}

.header{
    width: fit-content;
    /* margin: 1rem; */
    font-size: 2rem !important;
}
.uploadContainer{
    margin-bottom: 1rem;
    width: fit-content;
    background-color: #dcdcdc;
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}