.navbar{
    background-color: rgb(41, 41, 41) !important;
}

.logo{
    text-decoration: none;
    margin-right: auto;
}

.logo > p{
    font-weight: 500 !important;
    font-size: large !important;
    color: white !important;
}